<nav class="admin-nav">
  <a href="/admin" class="nav-item">
    <i class="fas fa-table"></i>
    <span>Reportes</span>
  </a>
  <a href="/admin2" class="nav-item">
    <i class="fas fa-user-cog"></i>
    <span>Usuarios</span>
  </a>
</nav>