<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Admin 2</title>
  <link rel="stylesheet" href="/css/admin2.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
  <!-- Incluir el cabezal -->
  <%- include('partials/header', { title: 'Usuarios', user: user }) %>

  <div class="button-grid">
    <button class="icon-button" title="Agregar Cliente" onclick="window.location.href='/agregar-cliente'">
      <i class="fas fa-user-plus"></i>
    </button>
    <button class="icon-button" title="Eliminar Cliente" onclick="window.location.href='/eliminar-cliente'">
      <i class="fas fa-user-minus"></i>
    </button>
    <button class="icon-button" title="Agregar Usuario" onclick="window.location.href='/agregar-usuario'">
      <i class="fas fa-user-shield"></i>
    </button>
    <button class="icon-button" title="Eliminar Usuario" onclick="window.location.href='/eliminar-usuario'">
      <i class="fas fa-user-slash"></i>
    </button>
  </div>

  <!-- Incluir la vista parcial para la navegación inferior -->
  <%- include('partials/admin-nav') %>
</body>
</html>