body {
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  color: #1e3a8a;
  text-align: center;
  margin-bottom: 20px;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 400px;
  margin: auto;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Ancho fijo */
  height: 150px; /* Alto fijo */
  font-size: 24px;
  color: white;
  background: linear-gradient(to right, #1e3a8a, #3b82f6);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.icon-button i {
  font-size: 36px;
}

.icon-button:hover {
  background: linear-gradient(to right, #1e40af, #2563eb);
  transform: scale(1.05);
}

button {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #1e3a8a, #3b82f6);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #1e40af, #2563eb);
}

@media (max-width: 768px) {
  .icon-button {
    width: 150px; /* Mantener el ancho fijo en m칩viles */
    height: 150px; /* Mantener el alto fijo en m칩viles */
    font-size: 28px; /* Aumentar el tama침o del texto */
  }

  .icon-button i {
    font-size: 56px; /* Aumentar el tama침o del icono */
  }

  .button-grid {
    gap: 30px; /* Aumentar el espacio entre los botones */
  }
}
